<a href="https://colab.research.google.com/github/Lakshmi1991/Dphi_bootcamp/blob/master/Bootcamp_Week0_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.Creating list1 with family members

In [0]:
list1 = ['john','chan','yuen','matt']

#2. Print list1 values

In [3]:
print("the values in the list1 is: ", list1)

the values in the list1 is:  ['john', 'chan', 'yuen', 'matt']

# 3.Retrive second element of the list1

In [4]:
print("the second element of list is: ", list1[1])

the second element of list is:  chan

#4. Change second value of the list1 and printing updated list1

In [0]:
list1[1] = 'dhana'

In [6]:
print("the values in the updated list1 is: ", list1)

the values in the updated list1 is:  ['john', 'dhana', 'yuen', 'matt']

#5. Creating list of list2 contains name and age of family members

In [0]:
list2 = [['john',29],['dhana',28],['yuen',27],['matt',26]]

In [8]:
print("the list values in the list2 is: ", list2)

the list values in the list2 is:  [['john', 29], ['dhana', 28], ['yuen', 27], ['matt', 26]]

# 6.Adding item 7000 in the given list3

In [0]:
list3 = [10,20,[300,400,[5000,6000],500],30,40]

In [15]:
print("the values in the list3 is: ", list3)

the values in the updated list3 is:  [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [0]:
list3[2] = [300,400,[5000,6000,7000],500]

In [17]:
print("the values in the updated list3 is: ", list3)

the values in the updated list3 is:  [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

#7. Check if 20 exist in given list 4 ,number of its occurance and change value as 200 on its first occurance

In [0]:
list4 = [5,10,15,20,25,50,20]

In [30]:
if 20 in list4: print("the value occurs in the list4" )
else: print("the value donot exist in list4")

the value occurs in the list4

In [33]:
print("the count of number 20  in the list: ", list4.count(20)

2

In [37]:
print("the index of first occurance of number 20 is: ",(list4.index(20))

3

In [0]:
list4[3] = 200

In [39]:
print("the values in the updated list4 is: ", list4)

the values in the updated list4 is:  [5, 10, 15, 200, 25, 50, 20]

#9. Creating colours tuple and printing it

In [0]:
colours = ('pink','red','orange','green','yellow')

In [41]:
print("the colours tuple is: ", colours)

the colours tuple is:  ('pink', 'red', 'orange', 'green', 'yellow')

#10. Packing and unpacking of tuple values

In [0]:
aTuple = (10,20,30,40)

In [0]:
(a,b,c,d)= aTuple

In [44]:
print("the unpacked tuple value a: {},b: {},c: {},d: {}".format (a,b,c,d))

the unpacked tuple value a: 10,b: 20,c: 30,d: 40